* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 450px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.77);  
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

.active {
  background-color: #ffffff1f;
}

.btn-load {
  margin-top: 20px;
  width: 100%;
}